/* @import "tailwindcss"; */
.Polaris-Page {
  max-width: 1144px;
}

svg {
  max-width: 100%;
}
.vline {
  border-left: var(--p-border-width-025) solid var(--p-color-border-secondary);
  margin: var(--p-space-200);
}
.toggler {
  border: none;
  border-top: 1px solid var(--p-color-border-secondary);
  cursor: pointer;
  padding: var(--p-space-300);
  margin-top: -1px;
  background-color: transparent;
  margin-top: -1px;
}
.toggler.open {
  background-color: var(--p-color-bg-surface-active);
  cursor: default;
}
.toggler--faq .Polaris-Collapsible {
  margin-right: 10px;
  min-height: 20px !important;
}
.toggler--faq .Polaris-Collapsible--isFullyClosed {
  display: block !important;
  max-height: 20px !important;
}
.toggler--faq .Polaris-Collapsible--isFullyClosed p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell--icon {
  width: 52px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  padding: var(--p-space-200) var(--p-space-300);
}
.list li:nth-child(2n) {
  background: var(--p-color-bg-surface-secondary);
  border-bottom: 1px solid var(--p-color-border-secondary);
  border-top: 1px solid var(--p-color-border-secondary);
}
.Polaris-Listbox-TextOption {
  padding-inline: var(--p-space-150);
}

.responsiveStack {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--p-space-200);
}

@media (max-width: 480px) {
  .responsiveStack {
    flex-wrap: wrap; /* Enable wrapping on smaller screens */
  }
}