/* @import "tailwindcss"; */
.Polaris-Page {
  max-width: 1144px;
}

svg {
  max-width: 100%;
}
.vline {
  border-left: var(--p-border-width-025) solid var(--p-color-border-secondary);
  margin: var(--p-space-200);
}
.toggler {
  border: none;
  border-top: 1px solid var(--p-color-border-secondary);
  cursor: pointer;
  padding: var(--p-space-300);
  margin-top: -1px;
  background-color: transparent;
  margin-top: -1px;
}
.toggler.open {
  background-color: var(--p-color-bg-surface-active);
  cursor: default;
}
.toggler--faq .Polaris-Collapsible {
  margin-right: 10px;
  min-height: 20px !important;
}
.toggler--faq .Polaris-Collapsible--isFullyClosed {
  display: block !important;
  max-height: 20px !important;
}
.toggler--faq .Polaris-Collapsible--isFullyClosed p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.cell--icon {
  width: 52px;
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list li {
  display: flex;
  padding: var(--p-space-200) var(--p-space-300);
}
.list li:nth-child(2n) {
  background: var(--p-color-bg-surface-secondary);
  border-bottom: 1px solid var(--p-color-border-secondary);
  border-top: 1px solid var(--p-color-border-secondary);
}
.Polaris-Listbox-TextOption {
  padding-inline: var(--p-space-150);
}

.responsiveStack {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: var(--p-space-200);
}

@media (max-width: 480px) {
  .responsiveStack {
    flex-wrap: wrap; /* Enable wrapping on smaller screens */
  }
}

.button-fixer--green .Polaris-Button--variantPrimary {
  background: var(--p-color-bg-fill-success);
  box-shadow: rgba(16, 49, 34, 0.2) 0px -1px 0px 1px inset, rgba(27, 87, 60, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.25) 0px 0.5px 0px 1.5px inset;
}
.button-fixer--green .Polaris-Button--variantPrimary:active {
  background: var(--p-color-bg-fill-success-active);
  box-shadow: rgba(14, 44, 31, 0.2) 0px -1px 0px 1px inset, rgba(16, 51, 35, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.25) 0px 0.5px 0px 1.5px inset;
}
.button-fixer--green .Polaris-Button--variantPrimary:hover {
  background: var(--p-color-bg-fill-success-hover);
  box-shadow: rgba(23, 71, 50, 0.2) 0px -1px 0px 1px inset, rgba(34, 110, 76, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.25) 0px 0.5px 0px 1.5px inset;
}
.button-fixer--green .Polaris-Button--variantPrimary.Polaris-Button--disabled {
  background: var(--pc-button-bg_disabled);
  box-shadow: rgba(50, 50, 50, 0.2) 0px -1px 0px 1px inset, rgba(90, 90, 90, 0.2) 0px 0px 0px 1px inset, rgba(255, 255, 255, 0.25) 0px 0.5px 0px 1.5px inset;
}

.nowrap {white-space: nowrap;}
.zoom--075 {zoom: 0.75;}
.opacity075 {opacity: 0.75;}
.opacity05 {opacity: 0.5;}

.design-previewer {
  background-color: #FFFFFF;
  display: flex;
  margin: auto;
}
.design-previewer--location {
  max-width: 100%;
}
.design-previewer-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.design-previewer .panel--map {
  background: url('/images/map.png') no-repeat;
  background-size: cover;
}
.design-previewer .panel--list > div {
  height: 100%;
}

.design-previewer .panel--map .marker-wrap {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
}

.design-previewer--location .panel--map .marker-wrap {
  left: 20%;
}

.markerWrapper svg, .markerWrapper img {
  width: 100%;
  height: 100%;
}
.markerTypeButton {
  display: inline-block;
  border-radius: var(--p-border-radius-200);
  border: 1px solid transparent;
  font-size: 0;
  line-height: 0;
  padding: 12px;
  transition: border-color .2s linear;
}
.markerTypeButton.small {
  padding: 2px;
  max-width: 36px;
}
.markerTypeButton.active {
  border-color: var(--p-color-icon-active);
}
.markerTypeButton.active * {
  fill: #000;
}

@media (min-width: 48em) {
  .rightBorderAboveMd {
      border-right: solid 1px var(--p-color-border);
  }
}